<!-- templates/registration/password_reset_confirm.html -->

{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Set New Password{% endblock %}

{% block content %}
<style>
    .hero-section {

    background-color: #a8d0e6;
      padding: 7%;
  
    
    
  }
  body {
          background-color:#a8d0e6; /* Replace with your desired background color */
          margin: 0; /* Remove default margin */
          padding: 0; /* Remove default padding */
      }
</style>
<body>
  <h2>Set New Password</h2>
<div class="container">
    <div class="row justify-content-center hero-section" >
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header text-center">
                    <h4>Login to IDP APP</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
    {% csrf_token %}
    {{ form.as_p }}
                        </div>
   
    <button type="submit" class="btn btn-primary btn-block">Set New Password</button>
</form>
</div>
</div>
</div>
</div>
</div>  
</body>


{% endblock %}
